.header{
    display: grid;
    padding: 1rem;
    gap: 2rem;
    font-weight: 700;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    background-color: white;
    grid-column: 2 / 3;
}

.search-bar,
.user-bar{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-left: 1rem;
    gap: 1rem;
    align-items: center;
    margin-right: 2rem;
}

.header img{
    width: 25px;
}

.search-field{
    max-width: calc(1.5*var(--sidebar-width));
    background-color: #e4e4e7;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

.search-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: var(--sidebar-width);
    padding-right: 1rem;
    gap: 1rem;
}

.action-buttons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1.5rem;
}

button{
    background-color: var(--color-blue);
    border: none;
    border-radius: 2rem;
    color: white;
    padding: .6rem 0;
    width: calc(.3*var(--sidebar-width));
}

.user-bar img{
    width: 65px;
    align-items: center;
}

.welcome{
    display: grid;
    grid-template-rows: 1fr 2fr;
    font-size: .8rem;
}

.greeting{
    align-self: end;
}
.user-name{
    align-self: start;
    font-size: 1.3rem;
}