*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: "Roboto", sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100vh;
    background-position: center;
    color: white;
    overflow: hidden;
}

.sidebar .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: min(calc(100vw * 0.2 - 100px), 100px);
    position: relative;
}

.sidebar .hero-img{
    display: flex;
    height: 125px;
    margin: 1rem;
    overflow: clip;
}
.sidebar .img-credit{
    font-size: .8rem;
    font-weight: 100;
    margin: 1rem;
}

h1{
    font-size: 100px;
    font-family: "Norse-Bold", sans-serif;
}

a{
    color: white;
}

.main{
    background-color: #f7f8fa;
    flex-grow: 1;
}

.cta{
    padding: 1rem;
    font-weight: bold;
    margin-top: max(10px, min(calc(100vw * 0.2 - 100px), 100px));
    margin-bottom: max(10px, min(calc(100vw * 0.2 - 100px), 30px));
}

.form{
    background-color: white;
    box-shadow: 0 0 10px #616161;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1rem 3rem 1.5rem 3rem;
}

.form-row{
    display: flex;
}

.form-element{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 12px;
}

.form-end{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 1.5rem;
    gap: 1rem;
}

button{
    width: 15rem;
    color: white;
    background-color: #596D48;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 10px 40px 12px 40px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

label{
    font-weight: 500;
    font-size: 0.9rem;
}

input{
    width: 15rem;
    border: 1px solid #E5E7EB;
    border-radius: 7px;
    height: 1.5rem;
    padding: 4px 8px;
}

legend{
    font-weight: bold;
}

.login a{
    color: #596D48;
}


@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.otf");
}